.App {
	background-color: #282c34;
	min-height: 100vh;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav {
	display: flex;
  justify-content: center;
}

.search input {
	margin: 20px;
	padding: 5px;
	font-size: large;
}

button {
  font-size: calc(10px + 2vmin);
}

.btn {
	background-color: rgb(43, 141, 226);
	margin: 20px;
	padding: 20px;
}

.case span {
	/* font-weight: 700; */
}
